<style>
    .card {
        align-content: center;
    }
    p,
    #demo,
    #time,
    #timer, 
    #timer-display,
    #timer-button {
        text-align: center;
        align-content: center;
        font-size: 60px;
        margin-top: 0px;
    }
    .button {
        background-color:green;
        align-content: center;
        font-size: 60px;
    }
