* {
  box-sizing: border-box;
}

html { 
  background: url('https://media.giphy.com/media/cd6Fp0qEGR3ag/giphy.gif?cid=e1bb72ff5c54fcb5425a653377a00d16') no-repeat center center fixed;
  -webkit-backdrop-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1.0; 
} 
.jumbotron {
  background-color: #5bb899
}
.header {
  border: 1px solid red;
  padding: 15px;
}

.menu {
  width: 25%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

#sub-wrapper {
  background-color: #689668;
  align-content: center;
  text-align: center;
}

.main {
  width: 75%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}
#quiz-area {
  font-size: 20px;
  align-content: center;
  text-align: center;
  color: #000000;
  background-color: #ffff00;
}


.card {
  align-content: center;
}
p,
#title,
#time,
#timer, 
#timer-display,
#timer-button {
  text-align: center;
  align-content: center;
  font-size: 60px;
  margin-top: 0px;
}

.button {
  background-color:green;
  align-content: center;
  font-size: 60px;
  margin-bottom: 40px;
}
body {
  color: black;
  background-color: #689668;

}

img {
  height: 200px;
}

h1 {
  padding-top: 2.5%;
  font-family: Lato, sans-serif;
  font-size: 80px;
  font-weight: bold;
  text-align:center;
  color: #ff0000;
  text-shadow: 2px 2px #ffffff;

}

#counter-number {
  font-size: 60px;
  text-align: center;
  color: #ff0000;
  text-shadow: 2px 2px #ffffff;
}

h2 {
  color: #000000;
  text-shadow: #ffffff;
  margin-bottom: 25px;
  font-size: 35px;
}

h3 {
  color: black;
  margin-bottom: 10px;
  font-size: 25px;
}

#start {
  color: #f5f5f5;
  margin-top: 10%;
  background: #689668;
  border: 2px solid #5bb899;
}

button:hover {
  background: pink;
  border: 2px solid #ff0000;
}
