    .card {
        align-content: center;
    }
    p,
    #title,
    #time,
    #timer, 
    #timer-display,
    #timer-button {
        text-align: center;
        align-content: center;
        font-size: 60px;
        margin-top: 0px;
    }
    #button {
        background-color:green;
        align-content: center;
        font-size: 60px;
        border-bottom-width: 2px;
        margin-bottom: 20px;
    }
/* ---------------------------------------------------- */
